@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #8ef1ff;
}

body p {
    font-family: "メイリオ";
}

body button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #8ef1ff;/*ボタン色*/
    color: black;
    border-bottom: solid 4px #87e5f2;
    border-radius: 3px;
    font-family: "メイリオ";
}

body button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

body input {
    font-family: "メイリオ";
}

.scene {
    flex: 1 1;
    position: relative;
    overflow: hidden;
}

#start_scene {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#box_start_title {
    padding: 0.5em 1em;
    margin: 2em 2em;
    color: white;
    background: #8ef1ff;
    border-top: solid 5px #87e5f2;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#box_start_button {
    padding: 0.5em 1em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
}

#box_start_button_input {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.box_start p {
    margin: 0; 
    padding: 0;
    font-size: xx-large;
    color: black;
}

.input_start {
    padding: 0.5em 0.5em;
    margin: 0.5em 0.25em;
    font-size: large;
}

#button_enter {
    font-size: large;
}

#game_scene {
    display: none;
    flex-direction: column;
    text-align: center;
}

#box_players {
    display: flex;
    flex-direction: row;
}

.box_player {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

#box_ready {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

#button_ready {
    font-size: xx-large;
}

.question {
    display: none;
    flex-direction: column;
}

.selection {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.selection p {
    margin: 0; 
    padding: 0;
    color: black;
}

#button_answer {
    font-size: xx-large;
}

#answer {
    display: none;
    flex-direction: column;
}

#button_next {
    font-size: xx-large;
}

#room {
    text-align: left;
}
