@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #5be7c4;
}

body p {
    font-family: "メイリオ";
    color: #f5f7fa;
}

body button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #5be7c4;/*ボタン色*/
    color: #f5f7fa;
    border-bottom: solid 4px #51cfb0;
    border-radius: 3px;
    font-family: "メイリオ";
    font-weight: bold;
    cursor: pointer;
}

body button:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

body input {
    font-family: "メイリオ";
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
        }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
        }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
        }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
}
@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
        }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
        }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
        }
        100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
        }
    }
@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
}
@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*  タイマーの表示場所指定   */
.item {
    position: relative;
    float: left;
}

/*  残量時間を円の中心に合わせ   */
.timer-time {
    text-align:center;
    position: absolute;
    line-height: 4em;
    width: 100%;
    font-size:2.5em;
    color: #f5f7fa;
}

/*  真上から円を描く指定   */
svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*  円を描く動画の準備   */
.timer-circle {
    stroke-dasharray: 280; 
    stroke-dashoffset: 280;
    transition: all 1s linear;
}

.scene {
    flex: 1 1;
    position: relative;
    overflow: hidden;
}

#start_scene {
    text-align: center;
    flex-direction: column;
}

#box_start_title {
    padding: 0.5em 1em;
    margin: 2em 2em;
    color: #f5f7fa;
    background: #5be7c4;
    border-top: solid 5px #51cfb0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#box_start_button {
    padding: 0.5em 1em;
    margin: 2em 0;
}

#box_start_button_input {
    margin-left: auto;
    margin-right: auto;
}

#son {
    margin: 0 0 0; 
    padding: 0;
    font-size: 256px;
    font-weight: lighter;
    font-family: "BIZ UD明朝";
    color: #f5f7fa;
}

#zai {
    margin: 0; 
    padding: 0;
    font-size: xx-large;
    font-weight: bold;
    color: #f5f7fa;
}

.input_start {
    padding: 0.5em 0.5em;
    margin: 0.5em 0.25em;
    font-size: xx-large;
}

#button_enter {
    font-size: xx-large;
}

#loader_button_enter {
    display: none;
}

#button_move {
    font-size: x-large;
}

#game_scene {
    display: none;
    flex-direction: column;
    text-align: center;
}

#box_players {
    padding: 0.5em 1em;
    margin: 2em 0;
    display: flex;
    flex-direction: row;
}

#box_ready {
    padding: 0.5em 1em;
    margin: 2em 0;
}

#loader_button_ready {
    display: none;
}

#button_ready {
    font-size: xx-large;
}

.question {
    padding: 0.5em 1em;
    margin: 2em 0;
    display: none;
    flex-direction: column;
}

.question p {
    color: #f5f7fa;
    font-size: xx-large;
}

.selection {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #f5f7fa;
    background: #5be7c4;
    border-top: solid 5px #51cfb0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.selection p {
    margin: 0; 
    padding: 0;
    color: #f5f7fa;
    font-size: xx-large;
}

#button_answer {
    font-size: xx-large;
}

#loader_button_answer {
    display: none;
}

#answer {
    padding: 0.5em 1em;
    margin: 2em 0;
    display: none;
    flex-direction: column;
}

#text_answer {
    font-size: xx-large;
    font-weight: bold;
}

#text_explanation {
    font-size: xx-large;
}

#loader_button_next {
    display: none;
}

#button_next {
    font-size: xx-large;
}

#room {
    text-align: left;
    color: #f5f7fa;
    font-size: medium;
}
#post_scene {
    display: none;
    flex-direction: column;
    text-align: center;
}

#post_scene p {
    padding: 0 0;
    margin: 0.2em 0.2em;
    font-size: large;
    font-weight: bold;
}

.box_post {
    padding: 0.5em 1em;
    margin: 2em 2em;
}

.example_post {
    font-size: small;
}

#post_scene select {
    font-size: large;
}

#post_scene textarea {
    display: inline-block;
    width: 40%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
    line-height: 1.5;
    height: 3em;
    font-size: large;
}

.error_post {
    display: none;
    color: #eb222d;
}

#post_scene .textarea_post_name {
    height: 3em;
}

#post_scene #textarea_text_question {
    height: 6em;
}

#post_scene .textarea_post_selection {
    height: 3em;
}

#post_scene #textarea_text_answer {
    height: 3em;
}

#post_scene #textarea_text_explanation {
    height: 6em;
}

#button_post {
    font-size: xx-large;
}

.box_button_back {
    text-align: left;
}

.button_back {
    font-size: x-large;
}

#check_scene {
    display: none;
    flex-direction: column;
    text-align: center;
}

#check_scene p {
    font-size: xx-large;
    font-weight: bold;
    padding: 0 0;
    margin: 0 0;
}

#button_repeat {
    font-size: xx-large;
}

#box_message_check {
    padding: 0.5em 1em;
    margin: 2em 2em;
    color: #f5f7fa;
    background: #5be7c4;
    border-top: solid 5px #51cfb0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#box_message_check p {
    margin: 0; 
    padding: 0;
    font-size: xx-large;
    font-weight: bold;
    color: #f5f7fa;
    font-family: "Arial";
}

.box_buttons {
    padding: 0.5em 1em;
    margin: 2em 2em;
}

.box_button_back {
    padding: 0.5em 1em;
    margin: 2em 2em;
}
