@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: aqua;
}

.scene {
    flex: 1 1;
    position: relative;
    overflow: hidden;
}

#start_scene {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.box_start {
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #000000;
}

.box_start p {
    margin: 0; 
    padding: 0;
}

.button_start {
    font-size: xx-large;
}

#game_scene {
    display: none;
    flex-direction: column;
    text-align: center;
}

#box_score {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.selection {
    padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        border: solid 3px #000000;
}

.selection p {
    margin: 0; 
    padding: 0;
}

#answer {
    display: none
}
